<form #form="ngForm" (submit)="onSubmit(form)" class="border p-3 w-100 rounded-3"
  [class.submitted]="service.formSubmitted" novalidate autocomplete="off">
  <div class="mb-3 text-center">
    <label class="fw-bolder">
      <h1>Adicionar Resposta</h1>
    </label>
    <textarea rows="6" cols="50" class="form-control form-control-lg" placeholder="Digite sua resposta"
      #description="ngModel" name="description" [(ngModel)]="service.formAnswer.description" required
      minlength="5">
    </textarea>
  </div>
  <div class="d-grid d-flex justify-content-center">
    <button class="btn btn-lg btn-success w-25" type="submit">
      Enviar
    </button>
  </div>
</form>